:root {
    /* default background color */
    --bg-c: white;
    /* default font color */
    --c: black;

    --header-c: khaki;

    --brush-c: white;
    --brush-bg-c: mediumspringgreen;

    --frame-c: white;
    --frames-bg-c: lightcoral;

    --paint-c: white;
    --paint-bg-c: skyblue;
}

body {
    font-family: Helvetica;
    font-size: calc(0.6em + 1vw);
    margin: 0px;
    overflow-x: hidden;
}

.hero-section {
    width: 100%;
    height: 90vh;
}

.hero-image {
    background-image: url("/Images/pattern.jpg");
    background-size: cover;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-floating-container {
    position: absolute;
    width: 100em;
    z-index: -1;
    top: -1em;
}

.hero-title {
    color: var(--header-c, white);
    text-align: center;
    font-size: 4em;
}

.hero-statement {
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    padding: .7em;
    background-color: var(--header-c);
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.hero-button:hover {
     cursor: pointer;
}

.hero-button-text {
    color: var(--c);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

#main{
    margin-top: 5em;
}

.highlighted-shop-group h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: .25em .5em;
}


.highlighted-shop-group {
    margin: 1em;
}

.brushes-section {
    color: var(--brush-c);
    background-color: var(--brush-bg-c);
}

.frames-section {
    color: var(--frame-c);
    background-color: var(--frames-bg-c);
}

.paints-section {
    color: var(--paint-c);
    background-color: var(--paint-bg-c);
}

footer {
    color: grey;
    font-size: .8em;
    text-align: center;
}


